*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
  color: #484848;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.equal-3 {
  flex: 0 0 33.33333333%;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}

.equal-4 {
  width:  25%;
  padding-right: 10px;
  padding-left: 10px;
}

.equal-3 img {
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 0 10px;
  max-width: 1020px;
  margin: 0 auto;
}

h1,h2,h3 {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  color: #222222;
}

h4 {
  font-family: Nunito, sans-serif;
  font-weight: 300;
}

h5, h6 {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  color: #222222;
}

.img-fit-container {
  width: 100%;
}

#hero-image {
  background-image: url(https://a0.muscache.com/im/pictures/4913397/d2084422_original.jpg?aki_policy=xx_large);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 368px;
}

.facilities {
  padding-right: 20px;
}

.trenddisplay {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid #e4e4e4;
}

.trenddisplay h6 {
  margin: 5px 0;
}

button {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

form {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px solid #e6ebf1;
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.PaymentRequestButton {
  padding: 0;
}